.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.errmsg{
  color: red;
}
.header{
  width:100%;
  background-color: #08b60d;
  color:white ;
  padding: 1%;

}
a{
  text-decoration: none !important;
  color: white !important;
  padding: 2px;
  font-family: 'Franklin Gothic Medium','Arial Narrow', Arial;
}
.profile-info {
  background-color:#6a11cb;
  padding: 20px;
  align-items: center;
  -moz-box-align: center;
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}


.bg-glass {
  background-color: hsla(272, 83%, 65%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #08b60d;
}
li{
  float: right;
}

.hello{
  font-size: 90px;
  text-align: center;
  margin-top: 15vh;
  color: white;
  background-image: url(./img/neo.jpg);
  width: auto;
  height: auto;
  padding: 20px;
  background-size: auto;
  animation: forwards ;
  font-family: 'Gill Sans';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


